@charset "UTF-8";


/** Core theme and layout things **/

body {
	margin: 0px;
	padding: 0px;
	background-color: #c0c0c0;
	font-family: "Roboto Light", "HelveticaNeue-Light", "Roboto", "HelveticaNeue", "Helvetica", "Arial", sans-serif-light, sans-serif;
	font-size: 100%;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}

.hide {
	display: none !important;
}
.mdl-textfield{
	width:100%;
}
#finish_restock{
	margin-top:10px
}
#cardquerydobtn2,#stocklookupbtn{
	width:48%;font-size:10px
}
#cardrestockeditbtn{
	margin-right:5px
}
#skufilter{
	margin-top:5px;width:48%;float: left;
}
#sku_search_query{
	margin-top:5px;width:48%;float:right
}
div.scrollhoz,article#cardstockdo table thead tr th:first-child{
	width: 250px;
}
section#sectionsync button{
	margin:10px
}
div.scrollhoz {
	width: 100%;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	overflow: auto;
}

div.scrollhoz:before {
	content: "Scroll sideways >";
	display: block;
}

div.scrollhoz > * {
	padding-right: 4px;
	max-width: none;
}

section.chromeless {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

section.chromeless > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/** Core theme and layout things wide styles **/

@media only screen and (min-width: 700px) {
	div.scrollhoz {
		width: auto;
		padding: 1px;
		margin: 0px;
		overflow: auto;
	}

	div.scrollhoz:before {
		content: none;
		display: none;
	}

	div.scrollhoz > * {
		padding-right: 0px;
		max-width: none;
	}
}


/** Material design things, fonts, overrides, customisations, fixes etc **/

section {
	padding-bottom: 200px;
}

article h5 {
	margin: 0px;
}

.mdl-layout__header {
	background-color: #00a14a;
}

.mdl-layout__drawer .mdl-layout-title {
	color: #007aff;
}

.mdl-card {
	width: 100%;
	max-width: 90%;
	min-height: 30px;
	margin: 1em auto;
}

.mdl-card, .mdl-card__title {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

h2.mdl-card__title-text {
	font-weight: 400;
}

.mdl-card__supporting-text {
	width: auto;
}

.mdl-navigation__link .material-icons {
	font-size: 30px;
}

.mdl-menu__item .material-icons {
	font-size: 20px;
	vertical-align: middle;
	color: #707070;
}

li[disabled].mdl-menu__item .material-icons {
	color: #e0e0e0;
}

button.mdl-badge {
	overflow: visible !important;
}

ul.mdl-list li.is-active {
	background-color: #ffffff;
	transition: background-color 0.1s ease-in-out;
}

ul.mdl-list li.is-active:hover {
	background-color: #f0f0f0;
}

ul.mdl-list-content {
	margin: 0px;
	padding: 0px;
}

ul.mdl-list-content li {
	height: auto;
	border-bottom: 1px solid #e0e0e0;
	align-items: flex-start;
}

ul.mdl-list-content li:last-child {
	border-bottom: none;
}

.mdl-color__white {
	color: #ffffff;
}

.mdl-color__whiteeasy {
	color: #ffffff;
	text-shadow: 0px 0px 5px #000000;
}

.mdl-color__lightgrey {
	color: #d0d0d0;
}

@media screen and (min-height: 500px) {
	.mdl-layout__drawer {
		background-image: url("../image/logo_sidebar.png");
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 60% auto;
	}
}


/** Font things **/

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url("../font/materialicons-regular.woff") format("woff");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}


/** Section and article things **/

article#cardauth > .mdl-card__title {
	height: 210px;
	background-image: url("../image/cardbgauth.jpg");
}

article#cardauth > .mdl-card__actions {
	text-align: center;
}

article#cardrestock > .mdl-card__title {
	height: 150px;
	background-image: url("../image/cardbgrestock.jpg");
}

article#cardquery > .mdl-card__title {
	height: 153px;
	background-image: url("../image/cardbgquery.jpg");
}

article#cardedit > .mdl-card__title {
	height: 158px;
	background-image: url("../image/cardbgedit.jpg");
}

article#cardhelp > .mdl-card__title {
	height: 247px;
	background-image: url("../image/cardbghelp.jpg");
}

article#cardsupport a {
	display: block;
	height: 60px;
	padding-left: 54px;
	margin: 5px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	line-height: 60px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

article#cardsupport a#helpsupportp {
	background-image: url("../image/supportp.png");
}

article#cardsupport a#helpsupportw {
	background-image: url("../image/supportw.png");
}

section#sectionsettings table {
	width: 100%;
}

section#sectionsettings table tr.disabled {
	color: #c0c0c0 !important;
}

section#sectionsettings table tr.disabled td * {
	border-color: #c0c0c0 !important;
}

section#sectionsettings table tr.disabled td .mdl-radio__inner-circle, section#sectionsettings table tr.disabled input[type=time], section#sectionsettings table tr.disabled .mdl-switch.is-checked .mdl-switch__track, section#sectionsettings table tr.disabled .mdl-switch.is-checked .mdl-switch__thumb {
	background-color: #c0c0c0 !important;
}

section#sectionsettings table th {
	width: 100%;
	color: #000000;
}

section#sectionsettings table td {
	padding-top: 10px;
	padding-bottom: 10px;
}

section#sectionsettings table td br {
	line-height: 30px;
}

section#sectionsettings table td .mdl-slider__container {
	margin-left: -20px;
}

section#sectionsettings table td input[type=time] {
	padding: 6px;
	background-color: #ffffff;
	border: 1px solid #3f51b5;
	border-radius: 10px;
	outline: none;
}

section#sectionrestock article#cardrestockedit form {
	text-align: center;
	font-size: 120%;
}

section#sectionrestock article#cardrestockedit form > span {
	display: inline-block;
	width: 80px;
	padding: 20px;
	margin: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}

section#sectionrestock article#cardrestockedit input {
	width: 90%;
	font-size: 200%;
}

section#sectionrestock article#cardrestockdo table {
	
}


@media screen and (min-height: 700px) {
}
